name: Deploy to google play
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and deploy
    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew assembleRelease
    - name: Sign Android release
      uses: r0adkll/sign-android-release@v1
      with:
        # The directory to find your release to sign
        releaseDirectory: app/build/outputs/bundle/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
    - name: Upload Android Release to Play Store
      uses: r0adkll/upload-google-play@v1.0.4
      with:
        serviceAccountJsonPlainText: ${{ secrets.SERIVCE_ACCOUNT_JSON }}
        packageName: com.anesabml.quotey
        releaseFile: app/build/outputs/bundle/release/app-release.abb
        track: beta
        # whatsNewDirectory: # optional
